# Byte-compiled / cache
*.py[cod]
__pycache__/
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/
#virtual environment 
phvenv/
C:\Users\Onkar Gite\Desktop\PHYSIOBUDDY\PhysioBuddy\backend\physioapp\migrations\0006_remove_patientprofile_image_and_more.py
.gitignore/
# Django specific
db.sqlite3
media/
staticfiles/
*.sqlite3

# Logs
*.log

# IDE/editor stuff
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db
