@tailwind base;
@tailwind components;
@tailwind utilities;

/* Example utility override */
.cascading-right {
  margin-right: -50px;
}

@media (max-width: 900px) {
  .cascading-right {
    margin-right: 0;
  }
}

/* Base font + smoothing */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* Reset body */
body {
  margin: 0;
  min-width: 100%;
  min-height: 100vh;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

/* Headings */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Buttons */
button {
  @apply rounded-lg border border-transparent px-4 py-2 text-base font-medium cursor-pointer transition bg-transparent;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  body {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
